In [13]:
#import libraries
import pandas as pd
import datetime as dt

In [14]:
df=pd.read_csv('./goodreadsbooks/books.csv', error_bad_lines = False, index_col=False)

b'Skipping line 3350: expected 12 fields, saw 13\nSkipping line 4704: expected 12 fields, saw 13\nSkipping line 5879: expected 12 fields, saw 13\nSkipping line 8981: expected 12 fields, saw 13\n'

In [15]:
df.describe()

,bookID,average_rating,isbn13,num_pages,ratings_count,text_reviews_count
count,11123.000000,11123.000000,1.112300e+04,11123.000000,1.112300e+04,11123.000000
mean,21310.856963,3.934075,9.759880e+12,336.405556,1.794285e+04,542.048099
std,13094.727252,0.350485,4.429758e+11,241.152626,1.124992e+05,2576.619589
min,1.000000,0.000000,8.987060e+09,0.000000,0.000000e+00,0.000000
25%,10277.500000,3.770000,9.780345e+12,192.000000,1.040000e+02,9.000000
50%,20287.000000,3.960000,9.780582e+12,299.000000,7.450000e+02,47.000000
75%,32104.500000,4.140000,9.780872e+12,416.000000,5.000500e+03,238.000000
max,45641.000000,5.000000,9.790008e+12,6576.000000,4.597666e+06,94265.000000

In [16]:
#Check Data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11123 entries, 0 to 11122
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              11123 non-null  int64
 1   title               11123 non-null  object
 2   authors             11123 non-null  object
 3   average_rating      11123 non-null  float64
 4   isbn                11123 non-null  object
 5   isbn13              11123 non-null  int64
 6   language_code       11123 non-null  object
 7     num_pages         11123 non-null  int64
 8   ratings_count       11123 non-null  int64
 9   text_reviews_count  11123 non-null  int64
 10  publication_date    11123 non-null  object
 11  publisher           11123 non-null  object
dtypes: float64(1), int64(5), object(6)
memory usage: 1.0+ MB

In [17]:
#Add age of the book
df['publication_year']=df.apply(lambda x: x['publication_date'][-4:], axis=1)
df['publication_year'] = pd.to_numeric(df['publication_year'])
df['age']=df.publication_year.apply(lambda x: x if x < 1 else 2022-x)

In [18]:
#check Book ID if its unique or not (duplicates)
df['bookID'].duplicated(keep='last')

0        False
1        False
2        False
3        False
4        False
         ...
11118    False
11119    False
11120    False
11121    False
11122    False
Name: bookID, Length: 11123, dtype: bool

In [20]:
#drop one isbn column
df.drop('isbn', axis=1)

,bookID,title,authors,average_rating,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,publication_year,age
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPr√©,4.57,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.,2006,16
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPr√©,4.49,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.,2004,18
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,9780439554893,eng,352,6333,244,11/1/2003,Scholastic,2003,19
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPr√©,4.56,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.,2004,18
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPr√©,4.78,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic,2004,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11118,45631,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...,4.06,9781560254416,eng,512,156,20,12/21/2004,Da Capo Press,2004,18
11119,45633,You Bright and Risen Angels,William T. Vollmann,4.08,9780140110876,eng,635,783,56,12/1/1988,Penguin Books,1988,34
11120,45634,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,3.96,9780140131963,eng,415,820,95,8/1/1993,Penguin Books,1993,29
11121,45639,Poor People,William T. Vollmann,3.72,9780060878825,eng,434,769,139,2/27/2007,Ecco,2007,15
11122,45641,Las aventuras de Tom Sawyer,Mark Twain,3.91,9788497646987,spa,272,113,12,5/28/2006,Edimat Libros,2006,16

In [21]:
#Check the language codes
df['language_code']=df['language_code'].str.lower()
df.language_code.unique()
df.language_code.value_counts()

eng      8908
en-us    1408
spa       218
en-gb     214
fre       144
ger        99
jpn        46
mul        19
zho        14
grc        11
por        10
en-ca       7
ita         5
enm         3
lat         3
swe         2
rus         2
srp         1
nl          1
msa         1
glg         1
wel         1
ara         1
nor         1
tur         1
gla         1
ale         1
Name: language_code, dtype: int64

In [22]:
#Replace language codes with full names

mapping = [('fre','French'), ('spa','Spanish'), ('mul','Multiple languages'), ('grc','Ancient Greek'), ('ger','German'), 
           ('jpn','Japanese'), ('ara','Arabic'), ('nl', 'Dutch'), ('zho', 'Chinese'), ('lat', 'Latin'),
           ('por','Portuguese'), ('srp','Serbian'), ('ita', 'Italian'), ('rus', 'Russian'), ('msa', 'Malay'),
           ('glg','Galician'), ('wel','Welsh'), ('swe', 'Swedish'), ('nor', 'Norwegian'), ('tur', 'Turkish'),
           ('gla','Gaelic'), ('ale','Aleut'), ('eng', 'English'), ('en-us', 'English'), ('en-gb', 'English'),
           ('enm','English'), ('en-ca','English')]
for i,j in mapping:
    df.language_code = df.language_code.replace(i, j)
df.language_code.unique()
df.language_code.value_counts()

English               10540
Spanish                 218
French                  144
German                   99
Japanese                 46
Multiple languages       19
Chinese                  14
Ancient Greek            11
Portuguese               10
Italian                   5
Latin                     3
Russian                   2
Swedish                   2
Dutch                     1
Arabic                    1
Serbian                   1
Malay                     1
Galician                  1
Welsh                     1
Norwegian                 1
Turkish                   1
Gaelic                    1
Aleut                     1
Name: language_code, dtype: int64

In [23]:
#save the clean data
df.to_csv('book_data_cleaned.csv', index=False)